@{
    ViewBag.Title = "VerifyAccount";
}

<h2>VerifyAccount</h2>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>Verified Successfully.</strong> Click here to @Html.ActionLink("Login", "Login", "User")
    </div>
}
else
{
    <div class="alert alert-success">
        <strong>Error Verification!</strong> @ViewBag.Message
    </div>
}
